<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ec.chiang.residente"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Residente</name>

    <description>
        Aplicacion de garita para residentes
    </description>

    <author href="https://www.chiang.ec" email="garita@chiang.ec">
        David Castro
	Luis Chiang
    </author>

    <gap:plugin name="com.badrit.contactpicker" version="0.1.0" />

</widget>
